.internship_card  {
  margin-top: 1em;
  margin-bottom: 2em;
  height: 25vh;
  width: 40vw;
  border: 1px solid black;
  display: flex;
  background-color: #e3e3e3;
}

.internship_card_image  {
  /* margin: 1em;
  height: 12em;
  width: 12em; */
  max-width: 80%;
  height: auto;
  display: block;
}

.internship_card_description  {
  margin: 1em;
}