.contact_container  {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 85vh;
  width: 100vw;
}

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}


.form_labels  {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}

.submit_form_button {
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: #09243B;
}

.form_inputs  {
  width: 30vw;
  padding: 5px;
}

.message_box  {
  height: 20vh;
}

.submit_form_button  {
  margin-top: 10px;
  width: 15vw;
}

.contact_container  {
  display: flex;
  align-items: center;
}

.contact_bar  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
  width: 80vw;
  padding: 50px;
}

.contact_text {
  margin: 15px;
}