.body_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.body_home {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.home_headers {
  margin-bottom: 10px;
}